
<link rel="stylesheet" href="./stylesheets/nav.css">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="/food_search"> Calorie Finder</a>
      </li>
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="/SignUp.html"><span class="glyphicon glyphicon-user"></span> SignUp</a>
      </li>
      <li>
        <a href="/login.html"><span class="glyphicon glyphicon-log-in"></span> Sign in</a>
      </li>
    </ul>
  </div>
</nav>
