<link rel="stylesheet" href="./stylesheets/nav.css">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-right">
      <li class="active">
        <a href="/dashboard"><span class="glyphicon glyphicon-home"></span> Back to Dashboard</a>
      </li>
    </ul>
  </div>
</nav>
