#bigSect{
    background-image: url('acltear.jpg');
    width: 40%;
    height: 95vh;
    background-size: cover;
    margin-right: 20px;
    float: left;
  
    
  }
  
  body {
    margin: 20px;

  }
  
  #textDiv {
    background-color: rgba(0, 0, 0, 0.4);
    margin: 15px;
    border-radius: 5px;
    padding: 15px;
  }
  
  p, h1, h2, h3, li {
    font-family: Arial, Helvetica, sans-serif;
  }

  .infoText {
    color: white;
    text-shadow: 1px 1px 2px black;

  }
  
  #pageTitle {
    padding-left: 10px;
    padding-top: 10px;
    font-size: 48px;
    margin-top: 0px;
    text-shadow: 5px 5px #558ABB;
    color: white;
    /* font-family: "Lato"; */
    font-family: Monaco;
  
  }
  
  #smallSect1{
    float: left;

    /* background-image: url('acltear.jpg'); */
  
    background-size: cover;
    width: 55%;
    height: 25vh;
    border-radius: 10px;
    /* transition-duration: .3s; */
    background-color: rgba(38, 107, 128, 0.2);

    background-color: rgba(0, 0, 0, 0.2);
    background-color: rgba(106, 106, 106, 0.2);


    box-shadow: 0 0 11px rgba(16, 15, 15, 0.3); 


  }
/*   
  #smallSect1:hover{
    box-shadow: 0 0 11px rgba(16, 15, 15, 0.3); 
  } */
  
  #smallSect2{
    float: left;

    /* background-image: url('acltear.jpg'); */
  
    background-size: cover;
    width: 55%;
    height: 65vh;
    border-radius: 10px;
    /* transition-duration: .3s; */
    background-color: rgba(38, 107, 128, 0.2);
    background-color: rgba(106, 106, 106, 0.2);

    box-shadow: 0 0 11px rgba(16, 15, 15, 0.3); 
    margin-top: 20px;
  }
  
  /* #smallSect2:hover{
    box-shadow: 0 0 11px rgba(16, 15, 15, 0.3); 
  } */
  
  .sectTitle {
    color: white;
    text-shadow: 1px 1px 2px black;
    padding-left: 20px;
    font-size: 36px;
  }

  .sectTitle2 {
    color: black;
    text-shadow: 1px 1px 2px white;
    padding-left: 20px;
    font-size: 36px;
  }
  

#infoButton  {
    background-color: #006080;
    border: solid transparent;
    border-radius: 15px;
    border-width: 0 0 4px;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    padding: 15px;
    transform: translateZ(0);
    transition: filter .2s;
    width: 125px;
    position:absolute;
    left: 3%;
    top: 90%;
    width: 200px;
    /* box-shadow: 3px 3px #3399ff, -1em 0 .4em lightblue; */
    /* box-shadow: 10px 5px 5px lightblue; */
  }


  
#infoButton:after{
    background-clip: padding-box;
    background-color: #007399;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }
  
  
  #infoButton:hover,  input::file-selector-button:hover {
    filter: brightness(1.05);
  }
  
  #infoButton:active {
    border-width: 4px 0 0;
    background: none;
  }

  input[type="file"]{
    padding: 20px;
    float: left;
    
  }

  input[type="file"]:active{
    filter: brightness(0.8);
    
    
  }
  
  input::file-selector-button {
    background-color: #007399;
    border: solid transparent;
    border-radius: 15px;
    border-width: 0 0 4px;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    padding: 15px;
    transform: translateZ(0);
    transition: filter .2s;
  }

#gif {
  float:left
}
  