*{margin: 0; padding: 0;}
body {
  /* background-color #87CEFA; */
   background-color: skyblue;
   padding-top: 10vh
}

.my_form_box {
  width: 300px;
  height: auto;
  padding: 40px 40px;
  background-color: snow;
  border-radius: 20px;
  box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.4);
  margin: auto;
}

ul.list {
  list-style-type: none;
  text-align: center;
}

ul.list li {
  width: 300px;
  margin-bottom: 10px;
}

ul.list li input {
  text-align: center;
  width: 290px;
  padding: 15px 0px;
  border: none;
  background-color: silver;
  border-radius: 5px;
}

ul.list li input[type="submit"] {
  background-color: springgreen;
  color:white;
}

a:link {
  background-color: #f44336;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
}
