#bigSect{
  background-image: url('nn3.png');

  width: 69%;
  height: 95vh;
  background-size: cover;
  margin-right: 20px;
  float: left;

  
}

body {
  margin: 20px;
}



p, h1, h2, h3, li {
  font-family: Arial, Helvetica, sans-serif;
}

#pageTitle {
  padding-left: 10px;
  padding-top: 10px;
  font-size: 56px;
  margin: 20px;
  text-shadow: 5px 5px #558ABB;
  text-shadow: 1px 1px 2px black;
  color: white;
  font-family: Monaco;

}

#smallSect1{
  float: left;
  background-image: url('acltear3.png');

  background-size: cover;
  width: 28%;
  height: 46vh;
  border-radius: 10px;
  transition-duration: .3s;
}

#smallSect1:hover{
  box-shadow: 0 0 11px rgba(16, 15, 15, 0.3); 
}

#smallSect2{
  float: left;
  margin-top: 20px;
  background-image: url('meniscustear2.png');
  background-size: cover;
  width: 28%;
  height: 46vh;
  border-radius: 10px;
  transition-duration: .3s;

}

#smallSect2:hover{
  box-shadow: 0 0 11px rgba(16, 15, 15, 0.3); 
}

.sectTitle {
  color: white;
  text-shadow: 1px 1px 2px black;
  padding-left: 20px;
}


#infoButton  {
  background-color: #006080;


  border: solid transparent;
  border-radius: 15px;
  border-width: 0 0 4px;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: bold;
  padding: 15px;
  transform: translateZ(0);
  transition: filter .2s;
  width: 400px;
  height: 80px;
  position: absolute;
  font-size: 24px;
  left: 21%;
  top: 80%;

}

#infoButton:after {
  background-clip: padding-box;
  background-color: #007399;
  
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}


#infoButton:hover {
  filter: brightness(1.05);
}

#infoButton:active {
  border-width: 4px 0 0;
  background: none;
}
