
/*for scale elements */
*{margin: 0; padding: 0;}

body {
  /* background-color #87CEFA; */
   background-color: skyblue;

}

.the_login_box {
  width: 300px;
  height: auto;
  padding: 40px 40px;
  background-color: snow;
  border-radius: 20px;
  box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.4);
  margin: auto;
}

ul.list {
  list-style-type: none;
  text-align: center;
}

ul.list li {
  width: 300px;
  margin-bottom: 10px;
}

ul.list li input {
  text-align: center;
  width: 290px;
  padding: 15px 0px;
  border: none;
  background-color: silver;
  border-radius: 5px;
}

ul.list li input[type="submit"] {
  background-color: springgreen;
  color:white;
}

ul.list li:nth-child(6){
   text-decoration: underline;
}


.nav {
  overflow: hidden;
  background-color: springgreen;
}

.nav a {
  float: right;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  color: snow;
  background-color: grey;
}
