


<!doctype html>
<html lang="en">
<head>
    <title>About the Project</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="./stylesheets/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!-- <script src="./acl.js"></script> -->
  </head>
<body>


    <div id='pdf-viewer'></div>
    <!-- <iframe src="mydoc.pdf" width="100%" height="800px"></iframe> -->
    
    <div>
        <!-- <object data="./SFU_CMPT340_ProjectGroup18.pdf" type="application/pdf" width="100%" height="2000px">
            <p>Unable to display PDF file. <a href="./SFU_CMPT340_ProjectGroup18.pdf">Download</a> instead.</p>
    
        </object> -->
        <iframe src="./SFU_CMPT340_ProjectGroup18.pdf" width="100%" height="800px"></iframe>
    </div>

    <div>
        <button id="infoButton2" onclick="location.href='/';">
            Back to homepage
        </button>
    </div>
   
    
</body>
</html>

<!-- 
<style>
    #pdf-viewer {
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.1);
      overflow: auto;
    }
    
    .pdf-page-canvas {
      display: block;
      margin: 5px auto;
      border: 1px solid rgba(0, 0, 0, 0.2);
    }
  </style>
  
  <script>   
      url = './SFU_CMPT340_ProjectGroup18.pdf';
      var thePdf = null;
      var scale = 1;
      
      PDFJS.getDocument(url).promise.then(function(pdf) {
          thePdf = pdf;
          viewer = document.getElementById('pdf-viewer');
          
          for(page = 1; page <= pdf.numPages; page++) {
            canvas = document.createElement("canvas");    
            canvas.className = 'pdf-page-canvas';         
            viewer.appendChild(canvas);            
            renderPage(page, canvas);
          }
      });
      
      function renderPage(pageNumber, canvas) {
          thePdf.getPage(pageNumber).then(function(page) {
            viewport = page.getViewport({ scale: scale });
            canvas.height = viewport.height;
            canvas.width = viewport.width;          
            page.render({canvasContext: canvas.getContext('2d'), viewport: viewport});
      });
      }
  </script> -->
  

