<!doctype html>
<html lang="en">
<head>
    <title>Main Page</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="./stylesheets/acl.css">
  </head>
<body>
    <nav class="topbar">
        
        <p class="pageTitle"> ACL Tear <mark class="white">Detection</mark>
            <!-- <img class="menuImg" src="img/menu.png"> -->
        </p>
        
    </nav>
    <div id="back">
        <a href="/">&lt; BACK TO MAIN PAGE</a>
    </div>
    <section class="sect">
        <section id="aboutSection">
            <h2> ACL Tears</h2>
            <section id="aboutText">
                
                <p>
                    Something about ACL tears.
                </p>

            </section>
        </section>
        <section id="uploadSection">
            <h2> Upload picture</h2>
            <section id="fileupload">
                <input id="fileInput" name="datafile" type="file">
            </section>
        </section>

        <!-- <section id="resultsSection">
            <h2>Results</h2>
            <p>Results: </p>
        </section> -->
        


    </section>
    
    
    
    
</body>
</html>
