<!doctype html>
<html lang="en">
<head>
    <title>Main Page</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="./stylesheets/index.css">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>

  </head>
<body>

    <div id="bigSect">
      <h1 id="pageTitle">Neural Network For Knee Injury Diagnosis</h1>
      <button id="infoButton">
        About the Project
      </button>
    </div>

    <a href="/acl">
    <div id="smallSect1">
      <h1 class="sectTitle">ACL Tears</h1>


    </div>
    </a>

    <a href="/meniscus">
    <div id="smallSect2">
      <h1 class="sectTitle">Meniscus Injuries</h1>
      
    </div>
    </a>



    </section>
    
    
</body>
</html>
