<!doctype html>
<html lang="en">
<head>
    <title>Main Page</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="./stylesheets/index.css">
  </head>
<body>
    <nav class="topbar">
        
        <p class="pageTitle"> Neural Network <mark class="white">For Knee Injury Diagnosis</mark>
        </p>
        
    </nav>
    <section class="sect">
        <section id="aboutSection">
            <h2> About</h2>
            <section id="aboutText">
                
                <p>
                    A quick intro about our project.
                </p>

            </section>
        </section>
        
        <section id="mainmenu">
            <h2> Main Menu</h2>
            <section id="links">
                <ul>
                    <li id="link1"><a href="/acl">ACL</a></li>
                    <section class="hide">
                        <h3>Detecting ACL tears</h3>
                        <p class="description">
                            Blah blah blah
                        </p>
                        
                    </section>
                    <li id="link2"><a href="/meniscus">Meniscus</a></li>
                    <section class="hide">
                        <h3>Detecting meniscus degeneration and tears</h3>
                        <p class="description">
                            More blah blah
                        </p>
                        
                    </section>
                </ul>
            </section>
            
    
    
        </section>

    </section>
    
    
</body>
</html>
