<!doctype html>
<html lang="en">
<head>
    <title>Meniscus Diagnosis</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="./stylesheets/acl.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="./acl.js"></script>
  </head>
<body onload="init()">

    <div id="bigSect">
      <h1 class="sectTitle">Meniscus Injuries</h1>
      <div id="textDiv">
        <p class="infoText">
          The meniscus is a cartilaginous structure in the knee responsible for shock absorption, as well support against tension and torsion. Meniscus injuries are often diagnosed alongside ACL injuries and they are typically caused by abrupt movements, or twisting motions.
        </p>

        
      </div>
      <button id="infoButton" onclick="location.href='/';">
        Back to homepage
      </button>
    </div>

    
    <div id="smallSect1">
      <h1 class="sectTitle2">Upload Image</h1>
      <form action="fileUpload2" method="post" enctype="multipart/form-data">
        
        <div id="formItemsDiv">
          <div id="fileInputsDiv">
            <div class="labelDiv">
              <label>Axial</label>
              <input id="fileInput_a" name="datafile_a" type="file" required>
             
            </div>
            <div class="labelDiv">
              <label>Coronal</label>
              <input id="fileInput_c" name="datafile_c" type="file" required>
              
            </div>
            <div class="labelDiv">
              <label>Sagittal</label>
            <input id="fileInput_s" name="datafile_s" type="file" required>
          
            </div>
             </div>
        </div>
        
        
        <div id="submitButtonDiv">
          <input id="fileSubmitButton" type="submit">
        </div>
        
      </form>

      

    </div>

    <div id="smallSect2">
      <h1 class="sectTitle2">Diagnosis: <%=diagnosis%></h1>
      <img id="gifImg" src="<%=gif%>">
      
    </div>

    </section>
    
    
</body>
</html>